In [5]:
# 資料庫串接
import MySQLdb
import pandas as pd
conn = MySQLdb.Connect(host = 'localhost',
                       port = 3307,
                       user = 'root',
                       db = 'kpmg',
                       charset='utf8')
# 輸入你的資料庫連線資訊
cur = conn.cursor()

# company_id_input = input("輸入公司id : ")
# kind_input = input("輸入kind : ")
# year_input = input("輸入year : ")
# season_input = input("輸入season : ")

company_id_input = 2707
kind_input = "Profit_and_Loss_Account" #你要查的表
year_input = 2019
season_input = 4
cur.execute(f"SELECT `path` FROM `financial_statements` WHERE `company_id` = {company_id_input} AND `kind` = '{kind_input}' AND `year` = {year_input} AND `season` = {season_input} ")
result_set = cur.fetchall()

df = pd.read_csv(f"../../{result_set[0][0]}")

In [6]:
df

,Unnamed: 0,代號Code,會計項目Accounting Title,2019年1月1日至12月31日2019/1/1To12/31,2018年1月1日至12月31日2018/1/1To12/31
0,0,NaN,營業收入Operating revenue,NaN,NaN
1,1,4000.0,營業收入合計 Total operating revenue,6535609,6675944
2,2,NaN,營業成本Operating costs,NaN,NaN
3,3,5000.0,營業成本合計 Total operating costs,4346986,4424599
4,4,5900.0,營業毛利（毛損）Gross profit (loss) from operations,2188623,2251345
5,5,5950.0,營業毛利（毛損）淨額Gross profit (loss) from operations,2188623,2251345
6,6,NaN,營業費用Operating expenses,NaN,NaN
7,7,6100.0,推銷費用 Selling expenses,168616,201245
8,8,6200.0,管理費用 Administrative expenses,756904,916785
9,9,6000.0,營業費用合計 Total operating expenses,925520,1118030
10,10,6900.0,營業利益（損失）Net operating income (loss),1263103,1133315
11,11,NaN,營業外收入及支出Non-operating income and expenses,NaN,NaN
12,12,NaN,其他收入 Other income,NaN,NaN
13,13,7010.0,其他收入合計 Total other income,86831,50999
14,14,NaN,其他利益及損失 Other gains and losses,NaN,NaN
15,15,7020.0,"其他利益及損失淨額 Other gains and losses, net",370346,509406
16,16,NaN,財務成本 Finance costs,NaN,NaN
17,17,7050.0,"財務成本淨額 Finance costs, net",100659,26379
18,18,NaN,採用權益法認列之關聯企業及合資損益之份額 Share of profit (loss) of...,NaN,NaN
19,19,7060.0,採用權益法認列之關聯企業及合資損益之份額淨額 Share of profit (loss) ...,11375,6921
20,20,7000.0,營業外收入及支出合計 Total non-operating income and expe...,367893,540947
21,21,7900.0,繼續營業單位稅前淨利（淨損）Profit (loss) from continuing op...,1630996,1674262
22,22,NaN,所得稅費用（利益）Tax expense (income),NaN,NaN
23,23,7950.0,所得稅費用（利益）合計 Total tax expense (income),246131,276259
24,24,8000.0,繼續營業單位本期淨利（淨損）Profit (loss) from continuing op...,1384865,1398003
25,25,8200.0,本期淨利（淨損）Profit (loss),1384865,1398003
26,26,NaN,其他綜合損益(淨額)Other comprehensive income,NaN,NaN
27,27,NaN,不重分類至損益之項目 Components of other comprehensive i...,NaN,NaN
28,28,8311.0,確定福利計畫之再衡量數 Gains (losses) on remeasurements o...,"(1,551)","(12,392)"
29,29,8349.0,與不重分類之項目相關之所得稅 Income tax related to component...,(779),"(3,430)"
30,30,8310.0,不重分類至損益之項目總額 Components of other comprehensive...,(772),"(8,962)"
31,31,NaN,後續可能重分類至損益之項目 Components of other comprehensiv...,NaN,NaN
32,32,8361.0,國外營運機構財務報表換算之兌換差額 Exchange differences on tran...,"(56,063)",43813
33,33,8360.0,後續可能重分類至損益之項目總額 Components of other comprehens...,"(56,063)",43813
34,34,8300.0,"其他綜合損益（淨額） Other comprehensive income, net","(56,835)",34851
35,35,8500.0,本期綜合損益總額Total comprehensive income,1328030,1432854
36,36,NaN,"淨利（損）歸屬於：Profit (loss), attributable to:",NaN,NaN
37,37,8610.0,"母公司業主（淨利／損） Profit (loss), attributable to own...",1344181,1368866
38,38,8620.0,"非控制權益（淨利／損） Profit (loss), attributable to non...",40684,29137
39,39,NaN,綜合損益總額歸屬於：Comprehensive income attributable to:,NaN,NaN
40,40,8710.0,"母公司業主（綜合損益） Comprehensive income, attributable...",1286282,1403731
41,41,8720.0,"非控制權益（綜合損益） Comprehensive income, attributable...",41748,29123
42,42,NaN,基本每股盈餘Basic earnings per share,NaN,NaN
43,43,9710.0,繼續營業單位淨利（淨損） Basic earnings (loss) per share f...,10.58,10.80
44,44,9750.0,基本每股盈餘合計 Total basic earnings per share,10.58,10.80
45,45,NaN,稀釋每股盈餘Diluted earnings per share,NaN,NaN
46,46,9810.0,繼續營業單位淨利（淨損） Diluted earnings (loss) per share...,9.98,10.21
47,47,9850.0,稀釋每股盈餘合計 Total diluted earnings per share,9.98,10.21

In [7]:
營業毛利_毛損 = {"營業毛利（毛損）":"營業收入合計-營業成本合計"}

營業毛利_毛損_淨額 = {"營業毛利（毛損）淨額":"營業毛利（毛損）"}

營業費用合計 = {"營業費用合計":"推銷費用+管理費用+研究發展費用+預期信用減損損失(利益)"}

營業利益_損失 = {"營業利益（損失）":"營業毛利（毛損）-營業費用合計+其他收益及費損淨額"}

營業外收入及支出合計 = {"營業外收入及支出合計":"利息收入合計+其他收入合計+其他利益及損失淨額-財務成本淨額+採用權益法認列之關聯企業及合資損益之份額淨額"} 

繼續營業單位稅前淨利_淨損 = {"繼續營業單位稅前淨利（淨損）":"營業利益（損失）+營業外收入及支出合計"}

繼續營業單位本期淨利_淨損 = {"繼續營業單位本期淨利（淨損）":"繼續營業單位稅前淨利（淨損）-所得稅費用（利益）合計"}

本期淨利_淨損 = {"本期淨利（淨損）":"繼續營業單位本期淨利（淨損）"}

不重分類至損益之項目總額 = {"不重分類至損益之項目總額":"確定福利計畫之再衡量數+透過其他綜合損益按公允價值衡量之權益工具投資未實現評價損益 ＋採用權益法認列之關聯企業及合資之其他綜合損益之份額-不重分類至損益之項目-與不重分類之項目相關之所得稅"}

其他綜合損益_淨額 = {"其他綜合損益（淨額）":"不重分類至損益之項目總額"} 

後續可能重分類至損益之項目總額 = {"後續可能重分類至損益之項目總額":"國外營運機構財務報表換算之兌換差額-與可能重分類之項目相關之所得稅"}

其他綜合損益_淨額_1 = {"":"不重分類至損益之項目總額+後續可能重分類至損益之項目總額"}

本期綜合損益總額 = {"本期綜合損益總額":"本期淨利（淨損）+其他綜合損益（淨額）"}

本期淨利_淨損_1 = {"本期淨利（淨損）":"母公司業主（淨利／損）+ 非控制權益（淨利／損）"}

綜合損益總額歸屬於 = {"綜合損益總額歸屬於":"母公司業主（綜合損益）+非控制權益（綜合損益）"}

In [8]:
import re
import pandas as pd
Profit_and_Loss_Account_all_function = [營業毛利_毛損,營業毛利_毛損_淨額,營業費用合計,營業利益_損失,營業外收入及支出合計,繼續營業單位稅前淨利_淨損,繼續營業單位本期淨利_淨損,本期淨利_淨損,不重分類至損益之項目總額,其他綜合損益_淨額,後續可能重分類至損益之項目總額,其他綜合損益_淨額_1,本期綜合損益總額,本期淨利_淨損_1,綜合損益總額歸屬於]

negative_ls = ["營業費用合計","財務成本淨額","所得稅費用（利益）合計","不重分類至損益之項目","與不重分類之項目相關之所得稅"]
new_dict = {}
kind_list = []
money_list = []
status_list = []
for f in Profit_and_Loss_Account_all_function:
    for k ,v in f.items():
        temp_sum = 0
        temp_ls = re.split(r"-|\+",v)
        for i in temp_ls:
            filt = (df["會計項目Accounting Title"].str.contains(i))
            x = df.loc[filt]
            if x.empty:
                pass
            else:
                # try:
                temp_num = x.iloc[0,[3]][0]
                if "(" in str(temp_num):
                    temp_num = temp_num.replace("(","")
                    temp_num = temp_num.replace(")","")
                    temp_num = temp_num.replace(",","")
                    temp_num = -(int(temp_num))
                    if i in negative_ls:
                        temp_num = -(temp_num)
                        temp_sum+=temp_num
                    else:
                        temp_sum+=temp_num
                elif pd.isna(temp_num):
                    continue
                elif type(temp_num) == float:
                    temp_sum += temp_num
                elif i in negative_ls:
                    temp_num = -(int(temp_num))
                    temp_sum+=temp_num
                elif "成本" in i:
                    temp_num = -(int(temp_num))
                    temp_sum+=temp_num
                else:
                    temp_num = int(temp_num)
                    temp_sum += temp_num 
        try:
            k_filt = (df["會計項目Accounting Title"].str.contains(k))
            k_x = df.loc[k_filt]
            k_num = k_x.iloc[0,[3]][0]
            if "(" in k_num:
                k_num = k_num.replace("(","")
                k_num = k_num.replace(")","")
                k_num = k_num.replace(",","")
                k_num = -(int(k_num))
            else:
                k_num = int(k_num)

            if k_num == temp_sum:
                kind_list.append(k)
                money_list.append(k_num)
                status_list.append("True")
            else:
                kind_list.append(k)
                money_list.append(k_num)
                status_list.append("False")


            new_dict["會科"]=kind_list
            new_dict["金額"]=money_list
            new_dict["符合"]=status_list
        except:
            pass

df = pd.DataFrame(new_dict)
df

c:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                 會科       金額     符合
0          營業毛利（毛損）  2188623   True
1        營業毛利（毛損）淨額  2188623   True
2            營業費用合計   925520   True
3          營業利益（損失）  1263103   True
4        營業外收入及支出合計   367893   True
5    繼續營業單位稅前淨利（淨損）  1630996   True
6    繼續營業單位本期淨利（淨損）  1384865   True
7          本期淨利（淨損）  1384865   True
8      不重分類至損益之項目總額     -772   True
9        其他綜合損益（淨額）   -56835  False
10  後續可能重分類至損益之項目總額   -56063   True
11         本期綜合損益總額  1328030   True
12         本期淨利（淨損）  1384865  False

In [9]:
# i = "非控制權益（綜合損益）"
# filt = (df["會計項目Accounting Title"].str.contains(i))
# x = df.loc[filt]
# print(x)